<ion-header>
  <ion-navbar>
    <ion-title>
      <span style="color: #904Ab0">Magia Oculta</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeLocal()">
        <ion-icon name="star" color="fav"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f7f7ff;">
  <ion-list *ngIf="!fail">
    <ion-item *ngFor="let d of entradas" style="background: #f7f7ff; z-index: 1;" (click)="cambiar(d)">

      <ion-thumbnail item-start>
        <img src="{{d.imagen}}">
      </ion-thumbnail>
      <h2 style="overflow: hidden; text-overflow: ellipsis;">{{d.titulo}}</h2>
      <p>{{d.publicado}}</p>
      <!--<button ion-button clear item-end>View</button>-->
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!fail">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="fail" style="width: 100%; height: 100%">
    <h1 style="text-align: center; margin-top: 50%;">Fallo de conexion</h1>
    <h3 style="text-align: center">Por favor, intentelo más tarde</h3>
  </div>

</ion-content>
